In [4]:
import pandas as pd
 
file = open(r"C:\Users\luan.gomes\OneDrive - VIKSERVICES OUTSOURCING S.A\Documentos\Python\ETL\AAPL.csv", 'r', encoding="UTF-8")
print(file.readlines())

['Date,Open,High,Low,Close,Adj Close,Volume\n', '2023-03-01,146.830002,147.229996,145.009995,145.309998,144.538498,55479000\n', '2023-03-02,144.380005,146.710007,143.899994,145.910004,145.135330,52238100\n', '2023-03-03,148.039993,151.110001,147.330002,151.029999,150.228134,70732300\n', '2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000\n', '2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795120,56182000\n', '2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058365,47204800\n', '2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790466,53833600\n', '2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400\n', '2023-03-13,147.809998,153.139999,147.699997,150.470001,149.671112,84457100\n', '2023-03-14,151.279999,153.399994,150.100006,152.589996,151.779831,73695900\n', '2023-03-15,151.190002,153.250000,149.919998,152.990005,152.177734,77167900\n', '2023-03-16,152.160004,156.460007,151.639999,155.850006,155.022537,76161100\n', '2023-03-17,156.080002,156.740005,154.279999,155.000000,154.177048,98944600\n', '2023-03-20,155.070007,157.820007,154.149994,157.399994,156.564301,73641400\n', '2023-03-21,157.320007,159.399994,156.539993,159.279999,158.434326,73938300\n', '2023-03-22,159.300003,162.139999,157.809998,157.830002,156.992020,75701800\n', '2023-03-23,158.830002,161.550003,157.679993,158.929993,158.086166,67622100\n', '2023-03-24,158.860001,160.339996,157.850006,160.250000,159.399170,59196500\n', '2023-03-27,159.940002,160.770004,157.869995,158.279999,157.439621,52390300\n', '2023-03-28,157.970001,158.490005,155.979996,157.649994,156.812973,45992200\n', '2023-03-29,159.369995,161.050003,159.350006,160.770004,159.916412,51305700\n', '2023-03-30,161.529999,162.470001,161.270004,162.360001,161.497986,49501700\n', '2023-03-31,162.440002,165.000000,161.910004,164.899994,164.024460,68749800\n', '2023-04-03,164.270004,166.289993,164.220001,166.169998,165.287750,56976200\n', '2023-04-04,166.600006,166.839996,165.110001,165.630005,164.750641,46278300\n', '2023-04-05,164.740005,165.050003,161.800003,163.759995,162.890533,51511700\n', '2023-04-06,162.429993,164.960007,162.000000,164.660004,163.785767,45390100\n', '2023-04-10,161.419998,162.029999,160.080002,162.029999,161.169739,47716900\n', '2023-04-11,162.350006,162.360001,160.509995,160.800003,159.946259,47644200\n', '2023-04-12,161.220001,162.059998,159.779999,160.100006,159.250000,50133100\n', '2023-04-13,161.630005,165.800003,161.419998,165.559998,164.680984,68445600\n', '2023-04-14,164.589996,166.320007,163.820007,165.210007,164.332840,49386500\n', '2023-04-17,165.089996,165.389999,164.029999,165.229996,164.352737,41516200\n', '2023-04-18,166.100006,167.410004,165.649994,166.470001,165.586166,49923000\n', '2023-04-19,165.800003,168.160004,165.539993,167.630005,166.739990,47720200\n', '2023-04-20,166.089996,167.869995,165.559998,166.649994,165.765198,52456400\n', '2023-04-21,165.050003,166.449997,164.490005,165.020004,164.143860,58337300\n', '2023-04-24,165.000000,165.600006,163.889999,165.330002,164.452209,41949600\n', '2023-04-25,165.190002,166.309998,163.729996,163.770004,162.900482,48714100\n', '2023-04-26,163.059998,165.279999,162.800003,163.759995,162.890533,45498800\n', '2023-04-27,165.190002,168.559998,165.190002,168.410004,167.515854,64902300\n', '2023-04-28,168.490005,169.850006,167.880005,169.679993,168.779114,55209200\n', '2023-05-01,169.279999,170.449997,168.639999,169.589996,168.689590,52472900\n', '2023-05-02,170.089996,170.350006,167.539993,168.539993,167.645157,48425700\n', '2023-05-03,169.500000,170.919998,167.160004,167.449997,166.560944,65136000\n', '2023-05-04,164.889999,167.039993,164.309998,165.789993,164.909760,81235400\n', '2023-05-05,170.979996,174.300003,170.759995,173.570007,172.648468,113316400\n', '2023-05-08,172.479996,173.850006,172.110001,173.500000,172.578827,55962800\n', '2023-05-09,173.050003,173.539993,171.600006,171.770004,170.858017,45326900\n', '2023-05-10,173.020004,174.029999,171.899994,173.559998,172.638519,53724500\n', '2023-05-11,173.850006,174.589996,172.169998,173.750000,172.827484,49514700\n', '2023-05-12,173.619995,174.059998,171.000000,172.570007,171.891190,45497800\n', '2023-05-15,173.160004,173.210007,171.470001,172.070007,171.393173,37266700\n', '2023-05-16,171.990005,173.139999,171.800003,172.070007,171.393173,42110300\n', '2023-05-17,171.710007,172.929993,170.419998,172.690002,172.010727,57951600\n', '2023-05-18,173.000000,175.240005,172.580002,175.050003,174.361435,65496700\n', '2023-05-19,176.389999,176.389999,174.940002,175.160004,174.471024,55772400\n', '2023-05-22,173.979996,174.710007,173.449997,174.199997,173.514786,43570900\n', '2023-05-23,173.130005,173.380005,171.279999,171.559998,170.885178,50747300\n', '2023-05-24,171.089996,172.419998,170.520004,171.839996,171.164063,45143500\n', '2023-05-25,172.410004,173.899994,171.690002,172.990005,172.309540,56058300\n', '2023-05-26,173.320007,175.770004,173.110001,175.429993,174.739944,54835000\n', '2023-05-30,176.960007,178.990005,176.570007,177.300003,176.602585,55964400\n', '2023-05-31,177.330002,179.350006,176.759995,177.250000,176.552795,99625300\n', '2023-06-01,177.699997,180.119995,176.929993,180.089996,179.381607,68901800\n', '2023-06-02,181.029999,181.779999,179.259995,180.949997,180.238220,61945900\n', '2023-06-05,182.630005,184.949997,178.039993,179.580002,178.873611,121946500\n', '2023-06-06,179.970001,180.119995,177.429993,179.210007,178.505081,64848400\n', '2023-06-07,178.440002,181.210007,177.320007,177.820007,177.120544,61944600\n', '2023-06-08,177.899994,180.839996,177.460007,180.570007,179.859726,50214900\n', '2023-06-09,181.500000,182.229996,180.630005,180.960007,180.248199,48870700\n', '2023-06-12,181.270004,183.889999,180.970001,183.789993,183.067062,54274900\n', '2023-06-13,182.800003,184.149994,182.440002,183.309998,182.588943,54929100\n', '2023-06-14,183.369995,184.389999,182.020004,183.949997,183.226425,57462900\n', '2023-06-15,183.960007,186.520004,183.779999,186.009995,185.278336,65433200\n', '2023-06-16,186.729996,186.990005,184.270004,184.919998,184.192612,101235600\n', '2023-06-20,184.410004,186.100006,184.410004,185.009995,184.282257,49799100\n', '2023-06-21,184.899994,185.410004,182.589996,183.960007,183.236404,49515700\n', '2023-06-22,183.740005,187.050003,183.669998,187.000000,186.264420,51245300\n', '2023-06-23,185.550003,187.559998,185.009995,186.679993,185.945679,53079300\n', '2023-06-26,186.830002,188.050003,185.229996,185.270004,184.541245,48088700\n', '2023-06-27,185.889999,188.389999,185.669998,188.059998,187.320251,50730800\n', '2023-06-28,187.929993,189.899994,187.600006,189.250000,188.505585,51216800\n', '2023-06-29,189.080002,190.070007,188.940002,189.589996,188.844238,46347300\n', '2023-06-30,191.630005,194.479996,191.259995,193.970001,193.207016,85069600\n', '2023-07-03,193.779999,193.880005,191.759995,192.460007,191.702972,31458200\n', '2023-07-05,191.570007,192.979996,190.619995,191.330002,190.577408,46920300\n', '2023-07-06,189.839996,192.020004,189.199997,191.809998,191.055511,45094300\n', '2023-07-07,191.410004,192.669998,190.240005,190.679993,189.929947,46778000\n', '2023-07-10,189.259995,189.990005,187.039993,188.610001,187.868103,59922200\n', '2023-07-11,189.160004,189.300003,186.600006,188.080002,187.340179,46638100\n', '2023-07-12,189.679993,191.699997,188.470001,189.770004,189.023544,60750200\n', '2023-07-13,190.500000,191.190002,189.779999,190.539993,189.790512,41342300\n', '2023-07-14,190.229996,191.179993,189.630005,190.690002,189.939926,41573900\n', '2023-07-17,191.899994,194.320007,191.809998,193.990005,193.226929,50520200\n', '2023-07-18,193.350006,194.330002,192.419998,193.729996,192.967957,48353800\n', '2023-07-19,193.100006,198.229996,192.649994,195.100006,194.332581,80507300\n', '2023-07-20,195.089996,196.470001,192.500000,193.130005,192.370331,59581200\n', '2023-07-21,194.100006,194.970001,191.229996,191.940002,191.185013,71917800\n', '2023-07-24,193.410004,194.910004,192.250000,192.750000,191.991806,45377800\n', '2023-07-25,193.330002,194.440002,192.919998,193.619995,192.858383,37283200\n', '2023-07-26,193.669998,195.639999,193.320007,194.500000,193.734940,47471900\n', '2023-07-27,196.020004,197.199997,192.550003,193.220001,192.459961,47460200\n', '2023-07-28,194.669998,196.630005,194.139999,195.830002,195.059708,48291400\n', '2023-07-31,196.059998,196.490005,195.259995,196.449997,195.677261,38824100\n', '2023-08-01,196.240005,196.729996,195.279999,195.610001,194.840561,35175100\n', '2023-08-02,195.039993,195.179993,191.850006,192.580002,191.822495,50389300\n', '2023-08-03,191.570007,192.369995,190.690002,191.169998,190.418030,61235200\n', '2023-08-04,185.520004,187.380005,181.919998,181.990005,181.274155,115799700\n', '2023-08-07,182.130005,183.130005,177.350006,178.850006,178.146484,97576100\n', '2023-08-08,179.690002,180.270004,177.580002,179.800003,179.092743,67823000\n', '2023-08-09,180.869995,180.929993,177.009995,178.190002,177.489090,60378500\n', '2023-08-10,179.479996,180.750000,177.600006,177.970001,177.269958,54686900\n', '2023-08-11,177.320007,178.619995,176.550003,177.789993,177.329803,51988100\n', '2023-08-14,177.970001,179.690002,177.309998,179.460007,178.995483,43675600\n', '2023-08-15,178.880005,179.479996,177.050003,177.449997,176.990677,43622600\n', '2023-08-16,177.130005,178.539993,176.500000,176.570007,176.112961,46964900\n', '2023-08-17,177.139999,177.509995,173.479996,174.000000,173.549622,66062900\n', '2023-08-18,172.300003,175.100006,171.960007,174.490005,174.038345,61114200\n', '2023-08-21,175.070007,176.130005,173.740005,175.839996,175.384842,46311900\n', '2023-08-22,177.059998,177.679993,176.250000,177.229996,176.771240,42084200\n', '2023-08-23,178.520004,181.550003,178.330002,181.119995,180.651184,52722800\n', '2023-08-24,180.669998,181.100006,176.009995,176.380005,175.923447,54945800\n', '2023-08-25,177.380005,179.149994,175.820007,178.610001,178.147675,51449600\n', '2023-08-28,180.089996,180.589996,178.550003,180.190002,179.723587,43820700\n', '2023-08-29,179.699997,184.899994,179.500000,184.119995,183.643417,53003900\n', '2023-08-30,184.940002,187.850006,184.740005,187.649994,187.164276,60813900\n', '2023-08-31,187.839996,189.119995,187.479996,187.869995,187.383713,60794500\n', '2023-09-01,189.490005,189.919998,188.279999,189.460007,188.969604,45732600\n', '2023-09-05,188.279999,189.979996,187.610001,189.699997,189.208969,45280000\n', '2023-09-06,188.399994,188.850006,181.470001,182.910004,182.436554,81755800\n', '2023-09-07,175.179993,178.210007,173.539993,177.559998,177.100403,112488800\n', '2023-09-08,178.350006,180.240005,177.789993,178.179993,177.718781,65551300\n', '2023-09-11,180.070007,180.300003,177.339996,179.360001,178.895737,58953100\n', '2023-09-12,179.490005,180.130005,174.820007,176.300003,175.843658,90370200\n', '2023-09-13,176.509995,177.300003,173.979996,174.210007,173.759064,84267900\n', '2023-09-14,174.000000,176.100006,173.580002,175.740005,175.285126,60895800\n', '2023-09-15,176.479996,176.500000,173.820007,175.009995,174.556976,109205100\n', '2023-09-18,176.479996,179.380005,176.169998,177.970001,177.509338,67257600\n', '2023-09-19,177.520004,179.630005,177.130005,179.070007,178.606491,51826900\n', '2023-09-20,179.259995,179.699997,175.399994,175.490005,175.035751,58436200\n', '2023-09-21,174.550003,176.300003,173.860001,173.929993,173.479797,63047900\n', '2023-09-22,174.669998,177.080002,174.050003,174.789993,174.337555,56725400\n', '2023-09-25,174.199997,176.970001,174.149994,176.080002,175.624222,46172700\n', '2023-09-26,174.820007,175.199997,171.660004,171.960007,171.514893,64588900\n', '2023-09-27,172.619995,173.039993,169.050003,170.429993,169.988831,66921800\n', '2023-09-28,169.339996,172.029999,167.619995,170.690002,170.248184,56294400\n', '2023-09-29,172.020004,173.070007,170.339996,171.210007,170.766830,51814200\n', '2023-10-02,171.220001,174.300003,170.929993,173.750000,173.300262,52164500\n', '2023-10-03,172.259995,173.630005,170.820007,172.399994,171.953751,49594600\n', '2023-10-04,171.089996,174.210007,170.970001,173.660004,173.210495,53020300\n', '2023-10-05,173.789993,175.449997,172.679993,174.910004,174.457260,48527900\n', '2023-10-06,173.800003,177.990005,173.179993,177.490005,177.030594,57224100\n', '2023-10-09,176.809998,179.050003,175.800003,178.990005,178.526703,42390800\n', '2023-10-10,178.100006,179.720001,177.949997,178.389999,177.928253,43698000\n', '2023-10-11,178.199997,179.850006,177.600006,179.800003,179.334595,47551100\n', '2023-10-12,180.070007,182.339996,179.039993,180.710007,180.242249,56743100\n', '2023-10-13,181.419998,181.929993,178.139999,178.850006,178.387054,51427100\n', '2023-10-16,176.750000,179.080002,176.509995,178.720001,178.257401,52517000\n', '2023-10-17,176.649994,178.419998,174.800003,177.149994,176.691452,57549400\n', '2023-10-18,175.580002,177.580002,175.110001,175.839996,175.384842,54764400\n', '2023-10-19,176.039993,177.839996,175.190002,175.460007,175.005844,59302900\n', '2023-10-20,175.309998,175.419998,172.639999,172.880005,172.432510,64189300\n', '2023-10-23,170.910004,174.009995,169.929993,173.000000,172.552200,55980100\n', '2023-10-24,173.050003,173.669998,171.449997,173.440002,172.991058,43816600\n', '2023-10-25,171.880005,173.059998,170.649994,171.100006,170.657135,57157000\n', '2023-10-26,170.369995,171.380005,165.669998,166.889999,166.458023,70625300\n', '2023-10-27,166.910004,168.960007,166.830002,168.220001,167.784576,58499100\n', '2023-10-30,169.020004,171.169998,168.869995,170.289993,169.849197,51131000\n', '2023-10-31,169.350006,170.899994,167.899994,170.770004,170.327972,44846000\n', '2023-11-01,171.000000,174.229996,170.119995,173.970001,173.519684,56934900\n', '2023-11-02,175.520004,177.779999,175.460007,177.570007,177.110382,77334800\n', '2023-11-03,174.240005,176.820007,173.350006,176.649994,176.192749,79763700\n', '2023-11-06,176.380005,179.429993,176.210007,179.229996,178.766068,63841300\n', '2023-11-07,179.179993,182.440002,178.970001,181.820007,181.349365,70530000\n', '2023-11-08,182.350006,183.449997,181.589996,182.889999,182.416595,49340300\n', '2023-11-09,182.960007,184.119995,181.809998,182.410004,181.937836,53763500\n', '2023-11-10,183.970001,186.570007,183.529999,186.399994,186.162445,66133400\n', '2023-11-13,185.820007,186.029999,184.210007,184.800003,184.564499,43627500\n', '2023-11-14,187.699997,188.110001,186.300003,187.440002,187.201126,60108400\n', '2023-11-15,187.850006,189.500000,187.779999,188.009995,187.770386,53790500\n', '2023-11-16,189.570007,190.960007,188.649994,189.710007,189.468246,54412900\n', '2023-11-17,190.250000,190.380005,188.570007,189.690002,189.448257,50922700\n', '2023-11-20,189.889999,191.910004,189.880005,191.449997,191.206009,46505100\n', '2023-11-21,191.410004,191.520004,189.740005,190.639999,190.397049,38134500\n', '2023-11-22,191.490005,192.929993,190.830002,191.309998,191.066193,39617700\n', '2023-11-24,190.869995,190.899994,189.250000,189.970001,189.727905,24048300\n', '2023-11-27,189.919998,190.669998,188.899994,189.789993,189.548126,40552600\n', '2023-11-28,189.779999,191.080002,189.399994,190.399994,190.157349,38415400\n', '2023-11-29,190.899994,192.089996,188.970001,189.369995,189.128662,43014200\n', '2023-11-30,189.839996,190.320007,188.190002,189.949997,189.707916,48794400\n', '2023-12-01,190.330002,191.559998,189.229996,191.240005,190.996292,45679300\n', '2023-12-04,189.979996,190.050003,187.449997,189.429993,189.188583,43389500\n', '2023-12-05,190.210007,194.399994,190.179993,193.419998,193.173508,66628400\n', '2023-12-06,194.449997,194.759995,192.110001,192.320007,192.074921,41089700\n', '2023-12-07,193.630005,195.000000,193.589996,194.270004,194.022430,47477700\n', '2023-12-08,194.199997,195.990005,193.669998,195.710007,195.460587,53377300\n', '2023-12-11,193.110001,193.490005,191.419998,193.179993,192.933807,60943700\n', '2023-12-12,193.080002,194.720001,191.720001,194.710007,194.461868,52696900\n', '2023-12-13,195.089996,198.000000,194.850006,197.960007,197.707718,70404200\n', '2023-12-14,198.020004,199.619995,196.160004,198.110001,197.857529,66831600\n', '2023-12-15,197.529999,198.399994,197.000000,197.570007,197.318222,128256700\n', '2023-12-18,196.089996,196.630005,194.389999,195.889999,195.640350,55751900\n', '2023-12-19,196.160004,196.949997,195.889999,196.940002,196.689026,40714100\n', '2023-12-20,196.899994,197.679993,194.830002,194.830002,194.581711,52242800\n', '2023-12-21,196.100006,197.080002,193.500000,194.679993,194.431885,46482500\n', '2023-12-22,195.179993,195.410004,192.970001,193.600006,193.353287,37122800\n', '2023-12-26,193.610001,193.889999,192.830002,193.050003,192.803986,28919300\n', '2023-12-27,192.490005,193.500000,191.089996,193.149994,192.903839,48087700\n', '2023-12-28,194.139999,194.660004,193.169998,193.580002,193.333298,34049900\n', '2023-12-29,193.899994,194.399994,191.729996,192.529999,192.284637,42628800\n', '2024-01-02,187.149994,188.440002,183.889999,185.639999,185.403412,82488700\n', '2024-01-03,184.220001,185.880005,183.429993,184.250000,184.015198,58414500\n', '2024-01-04,182.149994,183.089996,180.880005,181.910004,181.678177,71983600\n', '2024-01-05,181.990005,182.759995,180.169998,181.179993,180.949097,62303300\n', '2024-01-08,182.089996,185.600006,181.500000,185.559998,185.323517,59144500\n', '2024-01-09,183.919998,185.149994,182.729996,185.139999,184.904053,42841800\n', '2024-01-10,184.350006,186.399994,183.919998,186.190002,185.952713,46792900\n', '2024-01-11,186.539993,187.050003,183.619995,185.589996,185.353485,49128400\n', '2024-01-12,186.059998,186.740005,185.190002,185.919998,185.683060,40444700\n', '2024-01-16,182.160004,184.259995,180.929993,183.630005,183.395981,65603000\n', '2024-01-17,181.270004,182.929993,180.300003,182.679993,182.447189,47317400\n', '2024-01-18,186.089996,189.139999,185.830002,188.630005,188.389618,78005800\n', '2024-01-19,189.330002,191.949997,188.820007,191.559998,191.315872,68741000\n', '2024-01-22,192.300003,195.330002,192.259995,193.889999,193.642899,60133900\n', '2024-01-23,195.020004,195.750000,193.830002,195.179993,194.931259,42355600\n', '2024-01-24,195.419998,196.380005,194.339996,194.500000,194.252121,53631300\n', '2024-01-25,195.220001,196.270004,193.110001,194.169998,193.922546,54822100\n', '2024-01-26,194.270004,194.759995,191.940002,192.419998,192.174774,44594000\n', '2024-01-29,192.009995,192.199997,189.580002,191.729996,191.485657,47145600\n', '2024-01-30,190.940002,191.800003,187.470001,188.039993,187.800354,55859400\n', '2024-01-31,187.039993,187.100006,184.350006,184.399994,184.164993,55467800\n', '2024-02-01,183.990005,186.949997,183.820007,186.860001,186.621872,64885400\n', '2024-02-02,179.860001,187.330002,179.250000,185.850006,185.613159,102518000\n', '2024-02-05,188.149994,189.250000,185.839996,187.679993,187.440811,69668800\n', '2024-02-06,186.860001,189.309998,186.770004,189.300003,189.058762,43490800\n', '2024-02-07,190.639999,191.050003,188.610001,189.410004,189.168625,53439000\n', '2024-02-08,189.389999,189.539993,187.350006,188.320007,188.080017,40962000\n', '2024-02-09,188.649994,189.990005,188.000000,188.850006,188.850006,45155200\n', '2024-02-12,188.419998,188.669998,186.789993,187.149994,187.149994,41781900\n', '2024-02-13,185.770004,186.210007,183.509995,185.039993,185.039993,56529500\n', '2024-02-14,185.320007,185.529999,182.440002,184.149994,184.149994,54630500\n', '2024-02-15,183.550003,184.490005,181.350006,183.860001,183.860001,65434500\n', '2024-02-16,183.419998,184.850006,181.669998,182.309998,182.309998,49701400\n', '2024-02-20,181.789993,182.429993,180.000000,181.559998,181.559998,53665600\n', '2024-02-21,181.940002,182.889999,180.660004,182.320007,182.320007,41529700\n', '2024-02-22,183.479996,184.960007,182.460007,184.369995,184.369995,52292200\n', '2024-02-23,185.009995,185.039993,182.229996,182.520004,182.520004,45074500\n', '2024-02-26,182.240005,182.759995,180.649994,181.160004,181.160004,40867400\n', '2024-02-27,181.100006,1

In [6]:
pd.Series([10, 9, 8, 7, 6])

0    10
1     9
2     8
3     7
4     6
dtype: int64

In [7]:
notas = pd.Series([10, 9, 8, 7, 6])
notas.mean()

8.0

In [8]:
notas.sum()

40

In [9]:
notas.std()

1.5811388300841898

In [13]:
df = pd.DataFrame({"Alunos":["Alfredo", "Abel", "Henrique", "Julia", "Lana"], "Faltas": [1, 8, 4, 0, 2],
                  "Prova": [10, 9.8, 4.5, 8.6, 1.4]})

In [15]:
df.iloc[0]

Alunos    Alfredo
Faltas          1
Prova        10.0
Name: 0, dtype: object

In [16]:
df.columns

Index(['Alunos', 'Faltas', 'Prova'], dtype='object')

In [17]:
df.dtypes

Alunos     object
Faltas      int64
Prova     float64
dtype: object

In [18]:
df

     Alunos  Faltas  Prova
0   Alfredo       1   10.0
1      Abel       8    9.8
2  Henrique       4    4.5
3     Julia       0    8.6
4      Lana       2    1.4

In [21]:
df[df["Prova"] > 8]

    Alunos  Faltas  Prova
0  Alfredo       1   10.0
1     Abel       8    9.8
3    Julia       0    8.6

In [27]:
apple = pd.read_csv(r"C:\Users\luan.gomes\OneDrive - VIKSERVICES OUTSOURCING S.A\Documentos\Python\ETL\AAPL.csv", sep=",")

In [28]:
apple

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-03-01,146.830002,147.229996,145.009995,145.309998,144.538498,55479000
1,2023-03-02,144.380005,146.710007,143.899994,145.910004,145.135330,52238100
2,2023-03-03,148.039993,151.110001,147.330002,151.029999,150.228134,70732300
3,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000
4,2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795120,56182000
...,...,...,...,...,...,...,...
248,2024-02-26,182.240005,182.759995,180.649994,181.160004,181.160004,40867400
249,2024-02-27,181.100006,183.919998,179.559998,182.630005,182.630005,54318900
250,2024-02-28,182.509995,183.119995,180.130005,181.419998,181.419998,48953900
251,2024-02-29,181.270004,182.570007,179.529999,180.750000,180.750000,136595200
252,2024-03-01,179.679993,180.529999,177.380005,179.774994,179.774994,50774639

In [31]:
apple.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-03-01,146.830002,147.229996,145.009995,145.309998,144.538498,55479000
1,2023-03-02,144.380005,146.710007,143.899994,145.910004,145.135330,52238100
2,2023-03-03,148.039993,151.110001,147.330002,151.029999,150.228134,70732300
3,2023-03-06,153.789993,156.300003,153.460007,153.830002,153.013275,87558000
4,2023-03-07,153.699997,154.029999,151.130005,151.600006,150.795120,56182000
5,2023-03-08,152.809998,153.470001,151.830002,152.869995,152.058365,47204800
6,2023-03-09,153.559998,154.539993,150.229996,150.589996,149.790466,53833600
7,2023-03-10,150.210007,150.940002,147.610001,148.500000,147.711563,68572400
8,2023-03-13,147.809998,153.139999,147.699997,150.470001,149.671112,84457100
9,2023-03-14,151.279999,153.399994,150.100006,152.589996,151.779831,73695900

In [35]:
apple.tail(7)[["Adj Close"]]

      Adj Close
246  184.369995
247  182.520004
248  181.160004
249  182.630005
250  181.419998
251  180.750000
252  179.774994

In [37]:
apple.describe()

,Open,High,Low,Close,Adj Close,Volume
count,253.000000,253.000000,253.000000,253.000000,253.000000,2.530000e+02
mean,179.130159,180.615336,177.808696,179.331087,178.805796,5.712606e+07
std,11.904589,11.714228,11.836280,11.738739,11.879113,1.665263e+07
min,144.380005,146.710007,143.899994,145.309998,144.538498,2.404830e+07
25%,172.410004,173.899994,171.279999,172.880005,172.309540,4.679290e+07
50%,180.089996,181.929993,178.330002,180.570007,179.859726,5.307930e+07
75%,189.259995,189.990005,187.610001,189.300003,188.850006,6.230330e+07
max,198.020004,199.619995,197.000000,198.110001,197.857529,1.365952e+08

In [38]:
tabela = pd.read_html("https://www.contextures.com/xlsampledata01.html")

In [44]:
tabela[1]

             0        1         2        3      4         5        6
0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
1     1/6/2020     East     Jones   Pencil     95      1.99   189.05
2    1/23/2020  Central    Kivell   Binder     50     19.99   999.50
3     2/9/2020  Central   Jardine   Pencil     36      4.99   179.64
4    2/26/2020  Central      Gill      Pen     27     19.99   539.73
5    3/15/2020     West   Sorvino   Pencil     56      2.99   167.44
6     4/1/2020     East     Jones   Binder     60      4.99   299.40
7    4/18/2020  Central   Andrews   Pencil     75      1.99   149.25
8     5/5/2020  Central   Jardine   Pencil     90      4.99   449.10
9    5/22/2020     West  Thompson   Pencil     32      1.99    63.68
10    6/8/2020     East     Jones   Binder     60      8.99   539.40
11   6/25/2020  Central    Morgan   Pencil     90      4.99   449.10
12   7/12/2020     East    Howard   Binder     29      1.99    57.71
13   7/29/2020     East    Parent   Binder     81     19.99  1619.19
14   8/15/2020     East     Jones   Pencil     35      4.99   174.65
15    9/1/2020  Central     Smith     Desk      2    125.00   250.00
16   9/18/2020     East     Jones  Pen Set     16     15.99   255.84
17   10/5/2020  Central    Morgan   Binder     28      8.99   251.72
18  10/22/2020     East     Jones      Pen     64      8.99   575.36
19   11/8/2020     East    Parent      Pen     15     19.99   299.85
20  11/25/2020  Central    Kivell  Pen Set     96      4.99   479.04
21  12/12/2020  Central     Smith   Pencil     67      1.29    86.43
22  12/29/2020     East    Parent  Pen Set     74     15.99  1183.26
23   1/15/2021  Central      Gill   Binder     46      8.99   413.54
24    2/1/2021  Central     Smith   Binder     87     15.00  1305.00
25   2/18/2021     East     Jones   Binder      4      4.99    19.96
26    3/7/2021     West   Sorvino   Binder      7     19.99   139.93
27   3/24/2021  Central   Jardine  Pen Set     50      4.99   249.50
28   4/10/2021  Central   Andrews   Pencil     66      1.99   131.34
29   4/27/2021     East    Howard      Pen     96      4.99   479.04
30   5/14/2021  Central      Gill   Pencil     53      1.29    68.37
31   5/31/2021  Central      Gill   Binder     80      8.99   719.20
32   6/17/2021  Central    Kivell     Desk      5    125.00   625.00
33    7/4/2021     East     Jones  Pen Set     62      4.99   309.38
34   7/21/2021  Central    Morgan  Pen Set     55     12.49   686.95
35    8/7/2021  Central    Kivell  Pen Set     42     23.95  1005.90
36   8/24/2021     West   Sorvino     Desk      3    275.00   825.00
37   9/10/2021  Central      Gill   Pencil      7      1.29     9.03
38   9/27/2021     West   Sorvino      Pen     76      1.99   151.24
39  10/14/2021     West  Thompson   Binder     57     19.99  1139.43
40  10/31/2021  Central   Andrews   Pencil     14      1.29    18.06
41  11/17/2021  Central   Jardine   Binder     11      4.99    54.89
42   12/4/2021  Central   Jardine   Binder     94     19.99  1879.06
43  12/21/2021  Central   Andrews   Binder     28      4.99   139.72

In [45]:
len(tabela)

2

In [48]:
tabela[0]

                                                   0
0  Home > Data > Sample > Sample Data Excel Sampl...